# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
.venv_pip/
venv/
ENV/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# IDE
.vscode/
.idea/
